In [22]:
import pickle
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [23]:
model = pickle.load(open('./model.pkl', 'rb'))

In [24]:
# the input data should be onehot encoded and scaled
test_sample = {
    'Dependents': 1,
    'ApplicantIncome': 10000,
    'CoapplicantIncome': 2500,
    'LoanAmount': 1000,
    'Loan_Amount_Term': 360,
    'Credit_History': 1,
    'Gender_Female':0,
    'Gender_Male':1,
    'Married_No':1,
    'Married_Yes':0,
    'Education_Graduate':1,
    'Education_Not Graduate':0,
    'Self_Employed_No':1,
    'Self_Employed_Yes':0,
    'Property_Area_Rural':0,
    'Property_Area_Semiurban':1,
    'Property_Area_Urban':0
}

In [25]:
test = pd.DataFrame(test_sample, index=[0])
test

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,10000,2500,1000,360,1,0,1,1,0,1,0,1,0,0,1,0

In [26]:
# sc = MinMaxScaler`()
# test_sc = sc.fit_transform(test)
# test_sc

In [27]:
pred = model.predict(test)

1/1 [==============================] - 0s 77ms/step

In [28]:
pred

array([[0.]], dtype=float32)